
@{
    ViewData["Title"] = "خطا - صفحه مورد نظر یافت نشد.";
}

<section class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <div class="notfound-404">
                        <h1>متاسفیم!</h1>
                    </div>
                    <h3>404 - صفحه وجود ندارد</h3>
                    <p>ممکن است صفحه مورد نظر حذف شده باشد ، نام آن را تغییر داده یا ممکن است موقتاً در دسترس نباشد..</p>
                    <a asp-action="index" asp-controller="home" class="btn btn-primary">بازگشت به صفحه اصلی</a>
                </div>
            </div>
        </div>
    </div>
</section>
