
@{
    ViewData["Title"] = "تغییر درباره ما";
}

@model AboutUs
<section class="news-details-area pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="news-details">
                    <div class="comments-area">
                        <div class="comment-respond">
                            <h3 style="margin-bottom:25px" class="comment-reply-title">ویرایش درباره ما</h3>
                            <form asp-action="aboutusconfirm" asp-controller="post" asp-route-id="@Model.id" class="comment-form" novalidate="novalidate">
                                <p class="comment-form-comment">
                                    <label>خلاصه درباره ما (جهت قرار گیری در فوتر سایت)*</label>
                                    <textarea name="shortAbout" cols="45" rows="5" required>@Model.shortAbout</textarea>
                                </p>

                                <p class="comment-form-comment">
                                    <label>درباره ما*</label>
                                    <textarea name="longAbout" cols="45" rows="5" required>@Model.longAbout</textarea>
                                </p>

                                <div class="modal fade" id="aboutusupdatemodal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:red">
                                                <h3>ثبت تغیرات</h3>
                                            </div>
                                            <div class="modal-body">
                                                <p>آیا مایل به ثبت تغییرات هستید؟</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" data-dismiss="modal">خیر</button>
                                                <button class="btn btn-success" style="margin-right:10px">بله</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="form-submit">
                                <input type="submit" id="aboutusupdatebtn" class="submit" value="ثبت">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template textcolor paste textcolor colorpicker',
        toolbar: 'a11ycheck numlist bullist tabfocus addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        forced_root_block: "",
        force_br_newlines: true,
        force_p_newlines: false,
        image_title: true,
        automatic_uploads: true,
        file_picker_types: 'image',
        file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            input.onchange = function () {
                var file = this.files[0];

                var reader = new FileReader();
                reader.onload = function () {
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);

                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };

            input.click();
        },
    });

    $(function () {
        $(aboutusupdatebtn).click(function () {
            $(aboutusupdatemodal).modal()
        })
    })
</script>
